.git/
.gitignore

__pycache__/
*.py[cod]
*.ipynb
.pytest_cache/
.coverage
htmlcov/

.venv/
elev-sim-venv/

build/
dist/
*.egg-info/

test_files/
test_results/
test_results_old/
simulation_output/
test_output/
example_output/
outputs/
work/

.DS_Store
.Rhistory
*.log
*.prof
*.zip
